<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Experience:</h1>
        <div class="jumbotron" ng-repeat="role in roles | orderBy:'to'">
          <h1>{{role.title}}</h1>
          <p>{{role.description}}</p>
          <div my-achmievments></div>
          <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="skill in role.skills">
            <li><a href="#" tooltip="{{skill.name}}">{{skill.description}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
          </ul>
        </div>
    </div>
  </div>
  <form class="thing-form">
    <label>Add a new role</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Role Title" ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>
