.thing-form {
  margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

}

.navbar-text {
    margin-left: 15px;
}

.angular-google-map-container { height: 400px; }
#experiment {
    -webkit-perspective: 800px;
    -webkit-perspective-origin: 50% 200px;
    -moz-perspective: 800px;
    -moz-perspective-origin: 50% 200px;
    perspective: 800px;
    perspective-origin: 50% 200px;
}

#cube {
    position: relative;
    margin: 100px auto;
    height: 400px;
    width: 400px;
    -webkit-transition: -webkit-transform 2s linear;
    -webkit-transform-style: preserve-3d;
    -moz-transition: -moz-transform 2s linear;
    -moz-transform-style: preserve-3d;
    transition: transform 1s linear;
    transform-style: preserve-3d;
}

.face {
    position: absolute;
    height: 360px;
    width: 360px;
    padding: 20px;
    background-color: rgba(50, 50, 50, 0.7);
    font-size: 27px;
    line-height: 1em;
    color: #fff;
    border: 1px solid #555;
    border-radius: 3px;
}

#cube .one  {
    transform: rotateX(90deg) translateZ(200px);
}

#cube .two {
    transform: rotateY(90deg) translateZ(200px);
}

#cube .three {
    transform: rotateY(90deg) translateZ(200px);
}

#cube .four {
    transform: rotateY(180deg) translateZ(200px);
}

#cube .five {
    transform: rotateY(-90deg) translateZ(200px);
}

#cube .six {
    transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
}