<!--div class="feature-content">
    <div class="feature" ng-repeat="role in roles">
        <div  class="feature-text">
            <span >{{role.title}}@ {{role.company}}</span>
            <span class="badge">{{role.skills.length}}</span>
            <span class="badge">{{role.achievments.length}}</span>
        </div>
    </div>
</div-->
    <div class="Aligner">
        <div class="Aligner-item Aligner-item--top">…</div>
        <div class="Aligner-item">
            <div class="feature-content">
         <div ng-class="'feature feature' + $index" ng-repeat="role in roles">
             <div  class="feature-text">
                 <span >{{role.title}}@ {{role.company}}</span>
                 <span class="badge">{{role.skills.length}}</span>
                 <span class="badge">{{role.achievments.length}}</span>
             </div>
         </div>
     </div>
    </div>
    <div class="Aligner-item Aligner-item--bottom">…</div>
</div>