<div ng-class="view === 'listview'?' roles jumbotron': 'roles'" ng-repeat="role in roles">
    <div  class="face{{$index}}">
        <h1 >{{role.title}}</h1>
        <p class="listViewOnly">{{role.description}}</p>
        <div>
            <h2><a ng-click="isDisplayed = !isDisplayed" href="#">{{role.company}}</a></h2>
        </div>
        <div ng-if="isDisplayed" >
            <map-wrap role="role"></map-wrap>
        </div>
        <div ng-hide="!isLoggedIn()">
            Save Location
        </div>
        <div simple-form entity="'skills'" identifier="'name'" parentid="role._id" collection="role.skills"  datasource="variables('skills')"  />
        <div simple-form entity="'achievments'" identifier="'details'" parentid="role._id" collection="role.achievments" datasource="variables('achievments')" />
    </div>
</div>
